@charset "UTF-8";

/* --------------------------------
 * reset CSS設定を初期化
 * -------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}

/* --------------------------------
 * base
 * -------------------------------- */
html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.heading {
    height: auto;
    width: auto;
    padding: 12px;
    background: url('../images/bg-header.gif');
    letter-spacing: 1px;
    font-size: 2.3rem;
    padding-top:
}

.crosshead {
    height: auto;
    width: auto;
    padding: 10px 25px;
    font-size: 1.9rem;
    background: #6dd7ff;
    /*背景色（古いブラウザだとここの色のみが出ます）*/
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));
    /*グラデーション*/
    background: -webkit-linear-gradient(#FFF, #e5e5e5);
    background: linear-gradient(#FFF, #e5e5e5);
    /*グラデーション終わり*/
}

.hidden {
    display: none;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:651px) and (max-width:960px){
  .heading {
      height: auto;
      width: auto;
      padding: 12px;
      background: url('../images/bg-header.gif');
      letter-spacing: 1px;
      font-size: 1.7rem;
      padding-top:
  }

  .crosshead {
      height: auto;
      width: auto;
      padding: 1%;
      font-size: 1.5rem;
      background: #6dd7ff;
      /*背景色（古いブラウザだとここの色のみが出ます）*/
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));
      /*グラデーション*/
      background: -webkit-linear-gradient(#FFF, #e5e5e5);
      background: linear-gradient(#FFF, #e5e5e5);
      /*グラデーション終わり*/
  }
}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 650px) {
    .heading {
        height: auto;
        width: auto;
        padding: 12px;
        background: url('../images/bg-header.gif');
        letter-spacing: 1px;
        font-size: 1.7rem;
        padding-top:
    }

    .crosshead {
        height: auto;
        width: auto;
        padding: 2.5%;
        font-size: 1.5rem;
        background: #6dd7ff;
        /*背景色（古いブラウザだとここの色のみが出ます）*/
        background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));
        /*グラデーション*/
        background: -webkit-linear-gradient(#FFF, #e5e5e5);
        background: linear-gradient(#FFF, #e5e5e5);
        /*グラデーション終わり*/
    }
}
/*----------　スマホ用終わり　------------------------------------------------------------*/

/* --------------------------------
 * header
 * --------------------------------*/
.header {
    width: 100%;
    height: 200px;
    padding: 28px 0 10px;
    box-shadow: 0 0 10px 1px #e3e3e3;
    background-color: #ffffff;
}

/* logo */
.logo {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    background: url('../images/logo.jpg') no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}


/* メニュー */
.global-nav {
    margin-top: 15px;
    height: 30%;
    text-align: center;
}

.global-nav .nav-item {
    display: inline-block;
    margin: 0 10px;
}

.global-nav .nav-item a {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    color: #666;
    font-size: 1.7rem;
    letter-spacing: 1px;
    transition: 0.15s;
}

.global-nav .nav-item.active a, .global-nav .nav-item a:hover {
    background-color: #d03c56;
    color: #fff;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:601px) and (max-width:1070px){
  /* logo */
  .logo {
      width: 85%;
      height: 65%;
      margin: 0 auto;
      background: url('../images/logo.jpg') no-repeat;
      background-position: center;
      background-size: contain;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
  }

  /* メニュー */
  .global-nav {
      margin-top: 15px;
      text-align: center;
  }

  .global-nav .nav-item {
      display: inline-block;
      margin: 0 1.5%;
  }

  .global-nav .nav-item a {
      display: inline-block;
      width: auto;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 8px;
      color: #666;
      font-size: 1.5rem;
      letter-spacing: 1px;
      transition: 0.15s;
  }

  .global-nav .nav-item.active a, .global-nav .nav-item a:hover {
      background-color: #d03c56;
      color: #fff;
  }

}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
  /* logo */
  .logo {
      width: 90%;
      height: 80%;
      margin: 0 auto;
      background: url('../images/logo-mini.jpg') no-repeat;
      background-position: center;
      background-size: contain;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
  }

}
/*----------　スマホ用終わり　------------------------------------------------------------*/

/* --------------------------------
 * wrapper
 * -------------------------------- */

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:601px) and (max-width:960px){
  .wrapper {
      width: 100%;
      margin: 14px auto 20px;
  }
}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
    .wrapper {
        width: 100%;
        margin: 14px auto 20px;
    }
}
/*----------　スマホ用終わり　------------------------------------------------------------*/

/* --------------------------------
 * index-main index.html
 * -------------------------------- */

.index-main {
    display: block;
    float: left;
    width: 660px;
}


/* スライドショー index.html */

.slideshow {
    display: block;
    height: 270px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
    position: relative;
}

.slideshow .image {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* お知らせ index.html */

.hot-topic {
    display: block;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}

/*
.hot-topic:hover {
    opacity: 0.85;
}
hot-topicのマウスがhoverした時のレイアウト
*/

.hot-topic .content {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 2% 3% 2%;
    background-color: #2d3d54;
    line-height: 1.75;
}

.hot-topic .title {
    margin-bottom: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 2.0rem;
}

.hot-topic .desc {
    color: #f6f6dc;
    font-size: 1.35rem;
}

.hot-topic a:link { color: rgb(255, 185, 0); }

.hot-topic a:visited { color: rgb(255, 185, 0);}

.hot-topic a:hover { color: rgb(105, 255, 0); }


.hot-topic hr {
  border-top: none;
  height: 20px;
  background: url('../images/pause.png') repeat-x;
}


/* お知らせスクロールリスト index.html */

.scroll-list {
    max-height: 150px;
    overflow-y: scroll;
    margin-bottom: 30px;
    list-style-type: none;
}

.scroll-list .scroll-item a {
    display: block;
    padding: 10px 15px;
    color: #333;
    transition: background-color 0.1s;
}

.scroll-list .scroll-item a:hover {
    background-color: #fafaf8;
}

.scroll-list .date {
    display: inline-block;
    width: 22%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.3rem;
    border-left: 0;
    border-right: 1.3px solid #333;
}

.scroll-list .title {
    display: inline-block;
    width: 77%;
    padding-left: 10px;
    padding-top: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3rem;
}

.scroll-list .new {
	background: #F00;
	color: #FFF;
	font-size: 1.3rem;
	padding: 0px 5px;
	margin-left: 5px;
}


/* --------------------------------
 * sidemenu index.html
 * -------------------------------- */

.sidemenu {
    float: right;
    width: 275px;
}

/* google検索  index.html */

.gsc-control-cse * {
    box-sizing: content-box;
}

.gsc-input {
    line-height: 1;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:601px) and (max-width:960px){
  .index-main {
      display: block;
      /*float: left;*/
      width: 65%;
      margin: 1%;
  }
  /* スライドショー index.html */
  .slideshow {
      display: block;
      height: 250px;
      width: 100%;
      margin-bottom: 10px;
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
      transition: opacity 0.15s;
      position: relative;
  }
  .slideshow .image {
      ｓ position: absolute;
      top: 0;
      left: 0;
  }
  /* お知らせ index.html */
  .hot-topic {
      display: block;
      height: auto;
      margin-bottom: 10px;
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
      transition: opacity 0.15s;
  }
  .hot-topic:hover {
      opacity: 0.85;
  }
  .hot-topic .content {
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      padding: 2% 3% 2%;
      background-color: #2d3d54;
      line-height: 1.7;
  }
  .hot-topic .title {
      margin-bottom: 5px;
      color: #fff;
      font-weight: normal;
      font-size: 1.7rem;
  }
  .hot-topic .desc {
      color: #ddc;
      font-size: 1.1rem;
  }

  /* お知らせスクロールリスト index.html */
  .scroll-list {
      max-height: 130px;
      overflow-y: scroll;
      margin-bottom: 10px;
      list-style-type: none;
  }
  .scroll-list .scroll-item a {
      display: block;
      padding: 5px 7px;
      color: #333;
      font-size: 0;
      transition: background-color 0.1s;
  }
  .scroll-list .scroll-item a:hover {
      background-color: #fafaf8;
  }
  .scroll-list .date {
      display: inline-block;
      width: 25%;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 1.2rem;
  }

  .scroll-list .title {
      display: inline-block;
      width: 65%;
      padding-top: 2%;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.2rem;
  }
  .scroll-list .new {
  	background: #F00;
  	color: #FFF;
  	font-size: 1.2rem;
  	padding: 0px 5px;
  	margin-left: 5px;
  }

  .sidemenu {
      display: block;
      width: 31%;
      margin: 0 1%;
  }

}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
    .index-main {
        display: block;
        /*float: left;*/
        width: 90%;
        margin: 5%;
    }
    /* スライドショー index.html */
    .slideshow {
        display: block;
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
        transition: opacity 0.15s;
        position: relative;
    }
    .slideshow .image {
        ｓ position: absolute;
        top: 0;
        left: 0;
    }
    /* お知らせ index.html */
    .hot-topic {
        display: block;
        height: auto;
        margin-bottom: 10px;
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
        transition: opacity 0.15s;
    }
    .hot-topic:hover {
        opacity: 0.85;
    }
    .hot-topic .content {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        padding: 2% 3% 2%;
        background-color: #2d3d54;
        line-height: 1.7;
    }
    .hot-topic .title {
        margin-bottom: 5px;
        color: #fff;
        font-weight: normal;
        font-size: 1.7rem;
    }
    .hot-topic .desc {
        color: #ddc;
        font-size: 1.1rem;
    }
    /* お知らせスクロールリスト index.html */
    .scroll-list {
        max-height: 130px;
        overflow-y: scroll;
        margin-bottom: 10px;
        list-style-type: none;
    }
    .scroll-list .scroll-item a {
        display: block;
        padding: 5px 7px;
        color: #333;
        font-size: 0;
        transition: background-color 0.1s;
    }
    .scroll-list .scroll-item a:hover {
        background-color: #fafaf8;
    }
    .scroll-list .date {
        display: inline-block;
        width: 30%;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 1.05rem;
    }
    .scroll-list .title {
        display: inline-block;
        width: 70%;
        padding-top: 1%;
        padding-left: 2%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.1rem;
    }
    .scroll-list .new {
    	background: #F00;
    	color: #FFF;
    	font-size: 1.0rem;
    	padding: 0px 5px;
    	margin-left: 5px;
    }
    .sidemenu {
        display: block;
        width: 92%;
        margin: 0 4%;
    }
}
/*----------　スマホ用終わり　------------------------------------------------------------*/

/* --------------------------------
 * main
 * -------------------------------- */

.main {
    display: block;
    float: left;
    width: 970px;
}

.main a {
    text-decoration: underline;
}

.main a:hover {
    text-decoration: underline;
    color: #1c23d1;
}

.main .content {
    width: 100%;
    height: auto;
    /*グラデーション*/
    background: linear-gradient(#FFF, #eaeaea);
    overflow: hidden;
    margin-bottom: 17px;
    font-size: 1.9rem;
    line-height: 180%;
    padding: 0.5rem 15px 0.7rem;
}

.main .content p {
    padding: 0.5rem 15px 0.7rem 15px;
}

.main .content img {
    margin: 1%;
}


/* 中央揃え */
.center {
    text-align: center;
}


/* 右揃え */
.right {
    padding: 0.5rem 1rem;
    text-align: right;
}


/* 協賛 link.html */
.cosponsor {
    float: left;
    width: 33%;
    font-size: 1.8rem;
}


/* google map access.html */

.map {
    width: 100%;
    height: 500px;
}


/* google form contact.html */

.form {
    width: 100%;
    height: 1050px;
}


/* お知らせ news.html */

.main .content ul {
    padding: 5px 15px;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:601px) and (max-width:960px){
  .main {
      display: block;
      float: left;
      width: 96%;
      margin: 2%;
  }

  .main .content {
      width: 100%;
      height: auto;
      /*グラデーション*/
      background: linear-gradient(#FFF, #eaeaea);
      overflow: hidden;
      margin-bottom: 17px;
      font-size: 1rem;
      line-height: 230%;
      padding: 0;
  }

  .main .content p {
      padding: 0.5rem 2% 0.7rem 2%;
      font-size: 1.35em;
  }

  .main .content ul {
      padding: 5px 5%;
      font-size: 1.3rem;
  }

  /* google map access.html */
  .map {
      width: 100%;
      height: 500px;
  }

  /* 協賛 link.html */
  .cosponsor {
      float: left;
      width: 33%;
      font-size: 1.2rem;
  }

  /* google form contact.html */

  .form {
      width: 100%;
      height: 1050px;
  }

}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
  .main {
      display: block;
      float: left;
      width: 94%;
      margin: 3%;
  }

  .main .content {
      width: 100%;
      height: auto;
      /*グラデーション*/
      background: linear-gradient(#FFF, #eaeaea);
      overflow: hidden;
      margin-bottom: 17px;
      font-size: 1rem;
      line-height: 230%;
      padding: 0;
  }

  .main .content p {
      padding: 0.5rem 2% 0.7rem 2%;
      font-size: 1.35em;
  }

  .main .content ul {
      padding: 5px 5%;
      font-size: 1.3rem;
  }

  /* google map access.html */
  .map {
      width: 100%;
      height: 300px;
  }

  /* 協賛 link.html */
  .cosponsor {
      float: left;
      width: 100%;
      font-size: 1.2rem;
  }

  /* google form contact.html */

  .form {
      width: 100%;
      height: 1050px;
  }


}
/*----------　スマホ用終わり　------------------------------------------------------------*/


/* --------------------------------
 * lightbox
 * -------------------------------- */
 .main .ligthbox {
   width: 100%;
   margin-bottom: 3%;
 }

 .main .ligthbox p {
   font-size: 1.7rem;
 }

 .ligthbox .head {
     background: #d6e0f9;
     color: #000;
     text-align: center;
     padding: 8px;
     font-size: 2.2rem;
 }

 .ligthbox .event {
     display: inline-block;
     width: 32%;
     margin: 1% 0.5%;
     height: 300px;
     background: #FFF;
     /*背景色（古いブラウザだとここの色のみが出ます）*/
     background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
     /*グラデーション*/
     background: -webkit-linear-gradient(#FFF, #eaeaea);
     background: linear-gradient(#FFF, #eaeaea);
     /*グラデーション終わり*/
     overflow: hidden;
     border: solid 1px #CCC;
 }

 .ligthbox .event :hover :not(head) {
   background-color: rgba(255, 145, 0, 0.55);
 }

 .ligthbox .event img {
     width: 100%;
     height: 88%;
     padding: 2%;
     display: block;
 }

 .ligthbox .newevent {
     display: inline-block;
     width: 32%;
     margin: 1% 0.5%;
     height: 380px;
     background: #FFF;
     /*背景色（古いブラウザだとここの色のみが出ます）*/
     background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
     /*グラデーション*/
     background: -webkit-linear-gradient(#FFF, #eaeaea);
     background: linear-gradient(#FFF, #eaeaea);
     /*グラデーション終わり*/
     overflow: hidden;
     border: solid 1px #CCC;
 }

 .ligthbox .newevent :hover :not(head) {
   background-color: rgba(255, 145, 0, 0.55);
 }

 .ligthbox .newevent img {
     width: 100%;
     height: 90%;
     padding: 2%;
     display: block;
 }

/*eventのboxの余白の調整*/
 .ligthbox .coordinate{
   display: inline-block;
   overflow: hidden;
   width: 65%;
   height: 380px;
   margin: 1% 0.5%;
   background: url('../images/newevent/new_event.png');
   background-size:cover;
 }

 .ligthbox .timetable {
     display: inline-block;
     width: 48.5%;
     margin: 1% 0.5%;
     height: 450px;
     background: #FFF;
     /*背景色（古いブラウザだとここの色のみが出ます）*/
     background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
     /*グラデーション*/
     background: -webkit-linear-gradient(#FFF, #eaeaea);
     background: linear-gradient(#FFF, #eaeaea);
     /*グラデーション終わり*/
     overflow: hidden;
     border: solid 1px #CCC;
 }

 .ligthbox .timetable :hover :not(head) {
   background-color: rgba(255, 145, 0, 0.55);
 }

 .ligthbox .timetable img {
     width: 100%;
     height: 92%;
     padding: 2%;
     display: block;
 }

 .ligthbox .bus {
     display: inline-block;
     width: 31%;
     margin: 1% 0.5%;
     height: 400px;
     background: #FFF;
     /*背景色（古いブラウザだとここの色のみが出ます）*/
     background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
     /*グラデーション*/
     background: -webkit-linear-gradient(#FFF, #eaeaea);
     background: linear-gradient(#FFF, #eaeaea);
     /*グラデーション終わり*/
     overflow: hidden;
     border: solid 1px #CCC;
 }

 .ligthbox .bus :hover :not(head) {
   background-color: rgba(255, 145, 0, 0.55);
 }

 .ligthbox .bus img {
     width: 100%;
     height: 90.5%;
     padding: 2%;
     display: block;
 }


 /*----------　タブレット用始まり　------------------------------------------------------------*/
 @media (min-width:601px) and (max-width:960px){
   .main .ligthbox p {
     font-size: 1.2rem;
   }

   .ligthbox .head {
       background: #d6e0f9;
       color: #000;
       text-align: center;
       padding: 8px;
       font-size: 1.4rem;
   }

   .ligthbox .event {
       display: inline-block;
       width: 31.5%;
       margin: 1% 0.5%;
       height: 240px;
       background: #FFF;
       /*背景色（古いブラウザだとここの色のみが出ます）*/
       background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
       /*グラデーション*/
       background: -webkit-linear-gradient(#FFF, #eaeaea);
       background: linear-gradient(#FFF, #eaeaea);
       /*グラデーション終わり*/
       overflow: hidden;
       border: solid 1px #CCC;
   }

   .ligthbox .event img {
       width: 100%;
       height: 87.5%;
       padding: 2%;
       display: block;
   }

   .ligthbox .newevent {
       display: inline-block;
       width: 31.5%;
       margin: 1% 0.5%;
       height: 300px;
       background: #FFF;
       /*背景色（古いブラウザだとここの色のみが出ます）*/
       background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
       /*グラデーション*/
       background: -webkit-linear-gradient(#FFF, #eaeaea);
       background: linear-gradient(#FFF, #eaeaea);
       /*グラデーション終わり*/
       overflow: hidden;
       border: solid 1px #CCC;
   }

   .ligthbox .newevent img {
       width: 100%;
       height: 90%;
       padding: 2%;
       display: block;
   }

   /*eventのboxの余白の調整*/
    .ligthbox .coordinate{
      display: inline-block;
      width: 63%;
      margin: 1% 0.5%;
      height: 300px;
      overflow: hidden;
      background: url('../images/newevent/new_event.png');
      background-size:cover;
    }

   .ligthbox .timetable {
       display: inline-block;
       width: 47%;
       margin: 1% 0.5%;
       height: 340px;
       background: #FFF;
       /*背景色（古いブラウザだとここの色のみが出ます）*/
       background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
       /*グラデーション*/
       background: -webkit-linear-gradient(#FFF, #eaeaea);
       background: linear-gradient(#FFF, #eaeaea);
       /*グラデーション終わり*/
       overflow: hidden;
       border: solid 1px #CCC;
   }

   .ligthbox .timetable img {
       width: 100%;
       height: 91%;
       padding: 2%;
       display: block;
   }

   .ligthbox .bus {
       display: inline-block;
       width: 31%;
       margin: 1% 0.5%;
       height: 300px;
       background: #FFF;
       /*背景色（古いブラウザだとここの色のみが出ます）*/
       background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
       /*グラデーション*/
       background: -webkit-linear-gradient(#FFF, #eaeaea);
       background: linear-gradient(#FFF, #eaeaea);
       /*グラデーション終わり*/
       overflow: hidden;
       border: solid 1px #CCC;
   }

   .ligthbox .bus img {
       width: 100%;
       height: 90%;
       padding: 2%;
       display: block;
   }
 }

 /*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
  .main .ligthbox p {
    font-size: 1.2rem;
  }

  .ligthbox .head {
      background: #d6e0f9;
      color: #000;
      text-align: center;
      padding: 8px;
      font-size: 1.4rem;
  }

  .ligthbox .event {
      display: inline-block;
      width: 47%;
      margin: 1% 0.5%;
      height: 170px;
      background: #FFF;
      /*背景色（古いブラウザだとここの色のみが出ます）*/
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
      /*グラデーション*/
      background: -webkit-linear-gradient(#FFF, #eaeaea);
      background: linear-gradient(#FFF, #eaeaea);
      /*グラデーション終わり*/
      overflow: hidden;
      border: solid 1px #CCC;
  }

  .ligthbox .event img {
      width: 100%;
      height: 82%;
     padding: 2%;
      display: block;
  }

  .ligthbox .newevent {
      display: inline-block;
      width: 47%;
      margin: 1% 0.5%;
      height: 220px;
      background: #FFF;
      /*背景色（古いブラウザだとここの色のみが出ます）*/
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
      /*グラデーション*/
      background: -webkit-linear-gradient(#FFF, #eaeaea);
      background: linear-gradient(#FFF, #eaeaea);
      /*グラデーション終わり*/
      overflow: hidden;
      border: solid 1px #CCC;
  }

  .ligthbox .newevent img {
      width: 100%;
      height: 86%;
     padding: 2%;
      display: block;
  }

  /*eventのboxの余白の調整*/
   .ligthbox .coordinate{
     display: none;
   }

  .ligthbox .timetable {
      display: inline-block;
      width: 47%;
      margin: 1% 0.5%;
      height: 240px;
      background: #FFF;
      /*背景色（古いブラウザだとここの色のみが出ます）*/
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
      /*グラデーション*/
      background: -webkit-linear-gradient(#FFF, #eaeaea);
      background: linear-gradient(#FFF, #eaeaea);
      /*グラデーション終わり*/
      overflow: hidden;
      border: solid 1px #CCC;
  }

  .ligthbox .timetable img {
      width: 100%;
      height: 87%;
     padding: 2%;
      display: block;
  }

  .ligthbox .bus {
      display: inline-block;
      width: 31%;
      margin: 1% 0.5%;
      height: 200px;
      background: #FFF;
      /*背景色（古いブラウザだとここの色のみが出ます）*/
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));
      /*グラデーション*/
      background: -webkit-linear-gradient(#FFF, #eaeaea);
      background: linear-gradient(#FFF, #eaeaea);
      /*グラデーション終わり*/
      overflow: hidden;
      border: solid 1px #CCC;
  }

  .ligthbox .bus img {
      width: 100%;
      height: 77%;
      padding: 2%;
      display: block;
  }
}
/*----------　スマホ用終わり　------------------------------------------------------------*/



/* --------------------------------
 * table
 * -------------------------------- */

table.box {
    margin: 15px 0;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}

table.box thead th {
    width: auto;
    font-size: 1.7rem;
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 2px solid #00d2d9;
    background: #dcdcd1;
}

table.box tbody th {
    width: 20%;
    font-size: 1.6rem;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
    background: #ececec;
    text-align: center;
}

table.box tbody td {
    font-size: 1.6rem;
    width: auto;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:601px) and (max-width:960px){
  table.box thead th {
      width: auto;
      font-size: 1.5rem;
      padding: 10px;
      font-weight: bold;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 2px solid #00d2d9;
      background: #dcdcd1;
  }

  table.box tbody th {
      width: 20%;
      font-size: 1.3rem;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border: 1px solid #ccc;
      background: #ececec;
      text-align: center;
  }

  table.box tbody td {
      font-size: 1.2rem;
      width: auto;
      padding: 10px;
      vertical-align: top;
      border: 1px solid #ccc;
  }

}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
  table.box thead th {
      width: auto;
      font-size: 1.5rem;
      padding: 10px;
      font-weight: bold;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 2px solid #00d2d9;
      background: #dcdcd1;
  }

  table.box tbody th {
      width: auto;
      font-size: 1.3rem;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border: 1px solid #ccc;
      background: #ececec;
      text-align: center;
  }

  table.box tbody td {
      font-size: 1.2rem;
      width: auto;
      padding: 10px;
      vertical-align: top;
      border: 1px solid #ccc;
  }

}
/*----------　スマホ用終わり　------------------------------------------------------------*/


/* --------------------------------
 * footer
 * -------------------------------- */

.footer {
    width: 100%;
    padding: 20px 0 30px;
    background: #2d3d54 url('../images/bg-footer.gif');
    color: #fff;
}

.horizontal-list {
    width: 970px;
    margin: 0 auto;
    text-align: right;
    font-size: 0;
}

.horizontal-list .horizontal-item {
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
}

.horizontal-list .horizontal-item+.horizontal-item {
    border-left: 1px solid #bbb;
}

.horizontal-list .horizontal-item a {
    border-bottom: 1px dashed #777;
    color: #bbb;
    font-size: 1.1rem;
    transition: color 0.15s;
}

.horizontal-list .horizontal-item a:hover {
    color: #ddd;
}

.copyright {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 1px;
}

/*----------　タブレット用始まり　------------------------------------------------------------*/
@media (min-width:601px) and (max-width:960px){
  .horizontal-list {
      width: 100%;
      margin: 0 auto;
      text-align: right;
      font-size: 0;
  }
}

/*----------　タブレット用終わり--スマホ用始まり　----------------------------------------------*/
@media (max-width: 600px) {
    .horizontal-list {
        width: 100%;
        margin: 0 auto;
        text-align: right;
        font-size: 0;
    }
}
/*----------　スマホ用終わり　------------------------------------------------------------*/
